@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
#main {
    max-width: 1400px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 160px;
}

.logo {
    height: 50px;
    margin-left: 164px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px; 
    margin-top: 50px;
    margin-bottom: 50px; 
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-block-start: 0;
    margin-block-end: 0;
} 

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    object-fit: cover;
}
.city_country{
    color: #901C1C;
}

.price{
    color: #757575;
}